.WarningImg{
    height: 20vw;
    width: 20vw;
  }



h2{
  font-size:5vw;
}

.WarningType{
  display: inline-block;
  font-size:4vw;
  border-radius: 5px;
  width: 35vw;
  text-align: center;
  padding: 0.5vw;
  margin: 1vw;
}

.button{
display: inline-block;
padding: 2vw 2vw 2vw 2vw;
margin-top: 11vw;
font-size: 3vw;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: 1px;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.button:hover {background-color: #3e8e41}



.DialogInfo{
  max-width: 70%;
  align-items: center;
}

.MapInfo {
  height: 50vh;
  align-items: center;
  display: inline-block;
}
